<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
                template="./../WEB-INF/TemplateSV.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui">

    
    <ui:define name="menuLeft">
      <h:form id="menu">
                           <p:menu >
                            <p:submenu label="#{props['admin.administracion']}" >
                                <p:menuitem value="#{props['admin.cinicio']}" url="./../administrador.sv" />
                                <p:menuitem value="#{props['admin.cusuario']}" url="./gestionUsuarios.sv"  />
                                <p:menuitem value="#{props['admin.cfacultad']}" url="./crearFacultad.sv"/>
                                <p:menuitem value="#{props['admin.cprograma']}" url="./gestionPrograma.sv" />
                                <p:menuitem value="#{props['admin.salir']}" url="./../logout.jsp" />
                            </p:submenu>
                         </p:menu>
               </h:form>
 
    </ui:define>

    <ui:define name="content">
        <p:panel id="crearFacultad" header="#{props['admin.ctitulo']}"  style="margin-bottom:20px; width: 90%; margin-left: 5%; margin-top: 20px;"> 
        
        <h:form id="formFacultad">
            <center>     
               
                 <p:focus for="txtIdFacultad"/>
                    <table align="center">
                        
                        <tr>
                            <td style="font-weight: bold; size: 25px; color: blue;" align="right">#{props['admin.lbl.idUsuario']}: </td>
                            <td><p:inputText id="txtIdFacultad"  value="#{facultadController.selected.idfacultad}" required="true" style="background-color: #FBDCDC !important;"
                                             requiredMessage="#{props['admin.required.idFacultad']}"/></td>
                            <td><p:message for="txtIdFacultad"/></td>
                        </tr>
                        <tr>
                            <td style="font-weight: bold; size: 12px; color: blue;" align="right">#{props['admin.lbl.nombre']} </td>
                            <td><p:inputText id="txtNombre"  value="#{facultadController.selected.nombre}" required="true" style="background-color: #FBDCDC"
                                            requiredMessage="#{props['admin.required.nombre']}"/></td>
                            <td><p:message for="txtNombre"/></td>
                        </tr>
                        <tr>
                            
                            <td colspan="2">
                                <p:commandButton value="#{props['admin.btn.crear']}" action="#{facultadController.create}" update="formFacultad"/>                                               
                                <p:commandButton value="#{props['admin.btn.actualizar']}" action="#{facultadController.update}" update="formFacultad"/>
                                <p:commandButton value="#{props['admin.btn.eliminar']}" action="#{facultadController.remove}" update="formFacultad" immediate="true"/>                   
                            </td>
                        </tr>
                        <tr>
                             <td colspan="3" style="text-align: center; color: red; font-weight: bold;">
                                <p:outputLabel value="#{facultadController.mensaje}"/>
                             </td>
                                
                        </tr>
                    </table>
                 
                 <p:dataTable id="tablaFacultad" value="#{facultadController.getLista()}" var="obj" paginator="true"
                                     rowsPerPageTemplate="5, 10, 15, 20, 30, 40, 50"
                                     rowKey="#{obj.idfacultad}"
                                     lazy="true"
                                     selection="#{obj}"
                                     selectionMode="single"
                                     paginatorTemplate="{FirstPageLink} {PreviousPageLink} {CurrentPageReport} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}">

                     <p:column headerText="#{props['inv.lbl.identificador']}" style="text-align: center">
                             <h:outputText value="#{obj.idfacultad}"></h:outputText>
                         </p:column>

                     <p:column headerText="#{props['inv.lbl.nombre']}" style="text-align: center">
                            <h:outputText value="#{obj.nombre}"/>
                        </p:column>
                    </p:dataTable>
                 
            
            </center>   
                </h:form>
        </p:panel>
    </ui:define>

</ui:composition>
