<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
                template="./../WEB-INF/TemplateSV.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui">

    
    <ui:define name="menuLeft">
     <h:form id="menu">
                           <p:menu >
                            <p:submenu label="#{props['admin.administracion']}" >
                                <p:menuitem value="#{props['admin.cinicio']}" url="./../administrador.sv" />
                                <p:menuitem value="#{props['admin.cusuario']}" url="./gestionUsuarios.sv"  />
                                <p:menuitem value="#{props['admin.cfacultad']}" url="./crearFacultad.sv"/>
                                <p:menuitem value="#{props['admin.cprograma']}" url="./gestionPrograma.sv" />
                                <p:menuitem value="#{props['admin.salir']}" url="./../logout.jsp" />
                            </p:submenu>
                         </p:menu>
               </h:form>
 
    </ui:define>

    <ui:define name="content">
        <p:panel id="gestionarUsuarios" header="#{props['admin.user.titulo']}"  style="margin-bottom:20px; width: 90%; margin-left: 5%; margin-top: 20px;"> 
        
        <h:form id="formUsuario">
            <center>     
               
                 <p:focus for="txteIdUsuario"/>
                    <table align="center">
                        
                        <tr>
                            <td style="font-weight: bold; size: 12px; color: blue;" align="right">#{props['admin.lbl.rol']}</td>
                            <td> 
                                <p:selectOneMenu id="txtRoles" value="#{usuarioController.selected.rol}"   >
                                    <p:ajax listener="#{usuarioController.cambiarValor()}" update="formUsuario"/>
                                    <f:selectItem itemLabel="#{props['admin.lbl.rol']}" itemValue="" />
                                    <f:selectItem itemLabel="Investigador" itemValue="Investigador" />
                                    <f:selectItem itemLabel="#{props['inv.lbl.programa']}" itemValue="Programa"   />
                                    <f:selectItem itemLabel="#{props['usu.lbl.facultad']}" itemValue="Facultad"  />
                                    <f:selectItem itemLabel="#{props['usu.lbl.bioetica']}" itemValue="BioEtica" />
                                    <f:selectItem itemLabel="Vicerrectoria" itemValue="Vicerrectoria" />
                                </p:selectOneMenu>
                           </td>
                           <td><p:message for="txtRoles"/></td>
                            
                        </tr>
                        
                        <tr>
                            <td style="font-weight: bold; size: 12px; color: blue;" align="right">#{props['usu.lbl.seleccionefacultad']} </td>
                            <td><p:selectOneMenu id="txtIdFacultad" value="#{usuarioController.selected.idfacultad}" required="true"  disabled="#{usuarioController.getMenuFacultad()}">
                                         <f:selectItems value="#{facultadController.itemsAvailableSelectOne}"/>
                                </p:selectOneMenu></td>
                           
                        </tr>
                        
                        <tr>
                            <td style="font-weight: bold; size: 12px; color: blue;" align="right">#{props['usu.lbl.seleccioneprograma']} </td>
                            <td><p:selectOneMenu id="txtIdPrograma" value="#{usuarioController.selected.idprograma}"  required="true"  disabled="#{usuarioController.getMenuPrograma()}">
                                         <f:selectItems value="#{programaController.itemsAvailableSelectOne}"/>
                                </p:selectOneMenu></td>
                           
                        </tr>
                        
                        <tr>
                            <td style="font-weight: bold; size: 12px; color: blue;" align="right">#{props['usu.lbl.seleccioneinvestigador']} </td>
                            <td><p:selectOneMenu id="txtIdInvestigador" value="#{usuarioController.selected.idinvestigador}" required="true"  disabled="#{usuarioController.getMenuInvestigador()}">
                                         <f:selectItems value="#{investigadorController.itemsAvailableSelectOne}"/>
                                </p:selectOneMenu></td>
                            
                        </tr>
                        
                        
                        <tr>
                            <td style="font-weight: bold; size: 25px; color: blue;" align="right">#{props['login.lbl.usuario']}: </td>
                            <td><p:inputText id="txteIdUsuario"  value="#{usuarioController.idUsuario}" required="true" style="background-color: #FBDCDC !important;"
                                             requiredMessage="#{props['admin.required.idUsuario']}" type="text" maxlength="10"/></td>
                            <td><p:message for="txteIdUsuario"/></td>
                        </tr>
                        <tr>
                            <td style="font-weight: bold; size: 12px; color: blue;" align="right">#{props['login.lbl.password']} </td>
                            <td><p:password id="txteClave"  value="#{usuarioController.selected.clave}" required="true" style="background-color: #FBDCDC !important;"
                                            requiredMessage="#{props['login.required.password']}" maxlength="8"/></td>
                            <td><p:message for="txteClave"/></td>
                        </tr>
                         <tr>
                            <td style="font-weight: bold; size: 12px; color: blue;" align="right">#{props['admin.lbl.nuevaclave2']} </td>
                            <td><p:password id="txtClave2"  value="#{usuarioController.clavever}" required="true" style="background-color: #FBDCDC !important;"
                                            requiredMessage="#{props['login.required.password']}" maxlength="8"/></td>
                            <td><p:message for="txtClave2"/></td>
                        
                            <td colspan="3" style="text-align: center; color: red; font-weight: bold;">
                                <p:outputLabel value="#{usuarioController.mensajeClave}"/>
                            </td>
                        </tr>
                        
                        
                       
                        
                        <tr>
                            
                            <td colspan="2">
                                <p:commandButton value="#{props['admin.btn.crear']}" action="#{usuarioController.create}" update="@form"/>                                               
                                <p:commandButton value="#{props['admin.btn.actualizar']}" action="#{usuarioController.update}" update="@form"/>
                                <p:commandButton value="#{props['admin.btn.eliminar']}" action="#{usuarioController.remove}" update="@form" />                   
                            </td>
                        </tr>
                        <tr>
                             <td colspan="3" style="text-align: center; color: red; font-weight: bold;">
                                <p:outputLabel value="#{usuarioController.mensaje}"/>
                             </td>
                                
                        </tr>
                    </table>
                     <p:dataTable id="tablaUsuarios" value="#{usuarioController.getListaUsuarios()}" var="obj" paginator="true"
                                     rowsPerPageTemplate="5, 10, 15, 20, 30, 40, 50"
                                     rowKey="#{obj.idusuario}"
                                     lazy="true"
                                     selection="#{obj}"
                                     selectionMode="single"
                                     paginatorTemplate="{FirstPageLink} {PreviousPageLink} {CurrentPageReport} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}">

                         <p:column headerText="#{props['login.lbl.usuario']}" style="text-align: center">
                             <h:outputText value="#{obj.idusuario}"></h:outputText>
                         </p:column>

                         <p:column headerText="#{props['inv.lbl.rol']}" style="text-align: center">
                            <h:outputText value="#{obj.rol}"/>
                        </p:column>
                         
                         <p:column headerText="URL" style="text-align: center">
                            <h:outputText value="#{obj.url}"/>
                        </p:column>
                         
                         <p:column headerText="#{props['usu.lbl.facultad']}" style="text-align: center">
                             <h:outputText value="#{obj.idfacultad}"/>
                        </p:column>
                         
                         <p:column headerText="#{props['inv.lbl.programa']}" style="text-align: center">
                             <h:outputText value="#{obj.idprograma}"/>
                        </p:column>
                         
                         <p:column headerText="#{props['investigador']}" style="text-align: center">
                             <h:outputText value="#{obj.idinvestigador}"/>
                        </p:column>
                    </p:dataTable>
                 
                  </center>   
                </h:form>
        </p:panel>
    </ui:define>

</ui:composition>

