<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
                template="./../WEB-INF/TemplateSV.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui">

    
    <ui:define name="menuLeft">
       
            <h:form id="menu">
               <ui:include src="/vicerrectoria/menuVice.xhtml" />
            </h:form>
    
    </ui:define>

    <ui:define name="content">
        <p:panel id="CrearInvestigador" header="#{props['vic.lbl.crearInv']}"  style="margin-bottom:20px; width: 90%; margin-left: 5%; margin-top: 30px;">
        <h:form id="formInvestigador" >
            <center>     
               <p:focus for="txtIdInvestigador"/>
                  <table align="center">
                   
                    <tr>
                      <td style="font-weight: bold; size: 25px; color: blue;" align="right">#{props['inv.lbl.cedula']}: </td>
                      <td><p:inputText id="txtIdInvestigador"  value="#{investigadorController.selected.idinvestigador}" 
                                       required="true" style="background-color: #FBDCDC ;"
                                             /></td>
                      
                     
                      <td style="font-weight: bold; size: 25px; color: blue;" align="right">#{props['inv.lbl.cedula']}: </td>
                      <td><p:inputText id="txtNombre"  value="#{investigadorController.selected.nombre}" 
                                       required="true" style="background-color: #FBDCDC ;"
                                             /></td>
                     
                    </tr>
                    
                    <tr>
                        <td style="font-weight: bold; size: 25px; color: blue;" align="right">#{props['inv.lbl.apellidos']}: </td>
                      <td><p:inputText id="txtApellidos"  value="#{investigadorController.selected.apellidos}" 
                                       required="true" style="background-color: #FBDCDC;"
                                             requiredMessage="#{props['admin.required.idUsuario']}"/></td>
                                           
                      <td style="font-weight: bold; size: 25px; color: blue;" align="right">Edad: </td>
                      <td><p:spinner id="txtEdad" value="#{investigadorController.selected.edad}" min="20" max="70" 
                                     required="true" style="background-color: #FBDCDC;"
                                              /></td>
                      
                    </tr>
                      
                    <tr>
                        <td style="font-weight: bold; size: 25px; color: blue;" align="right">#{props['inv.lbl.telefonof']}: </td>
                      <td><p:inputMask id="txtTelefono"  value="#{investigadorController.selected.telefonofijo}" 
                                       required="true" style="background-color: #FBDCDC;"
                                             mask="(999) 999-9999"/></td>                  
                      
                      
                        <td style="font-weight: bold; size: 12px; color: blue;" align="right">#{props['inv.lbl.programa']}: </td>
                       <td><p:selectOneMenu id="txtIdPrograma" value="#{investigadorController.selected.idprograma}"  required="true" 
                                             >
                              <f:selectItems value="#{programaController.itemsAvailableSelectOne}"/>
                       </p:selectOneMenu></td>
                            
                    </tr>  
                      
                    <tr>
                        <td style="font-weight: bold; size: 25px; color: blue;" align="right">#{props['inv.lbl.telefonoc']}: </td>
                      <td><p:inputMask id="txtTelefonoCelular"  value="#{investigadorController.selected.telefonocelular}" 
                                       required="true" style="background-color: #FBDCDC;"
                                             mask="(999) 999-9999"/></td>
                      
                      
                        <td style="font-weight: bold; size: 25px; color: blue;" align="right">#{props['inv.lbl.correo']} : </td>
                      <td> <p:inputText id="txtEmail"  required="true" style="background-color: #FBDCDC;"
                                        validatorMessage="#{props['usu.lbl.usuarioinvalido']}"
                                    value="#{investigadorController.selected.correo}">
                           <f:validateRegex pattern="^[_A-Za-z0-9-\+]+(\.[_A-Za-z0-9-]+)*@[A-Za-z0-9-]+(\.[A-Za-z0-9]+)*(\.[A-Za-z]{2,})$" />
                           </p:inputText> </td>
                      <td><p:message for="txtEmail"/></td>  
                    </tr>  
                    
                      <tr>
                          <td style="font-weight: bold; size: 25px; color: blue;" align="right">#{props['inv.lbl.direccion']} : </td>
                           <td><p:inputText id="txtDireccion"  value="#{investigadorController.selected.direccion}" 
                                       required="true" style="background-color: #FBDCDC;"
                                             /></td>
                           
                           
                          <td style="font-weight: bold; size: 25px; color: blue;" align="right">#{props['inv.lbl.principal']} : </td>
                           <td><p:selectOneRadio id="txtPrincipal" value="#{investigadorController.selected.principal}"
                                                 required="true" style="background-color: #FBDCDC;">
                                   <f:selectItem itemLabel="#{props['usu.lbl.si']}" itemValue="1" />
                                    <f:selectItem itemLabel="#{props['usu.lbl.no']}" itemValue="0" />
                               </p:selectOneRadio></td>
                           <td><p:message for="txtPrincipal"/></td>
                    </tr>
                    
                      <tr>
                          <td style="font-weight: bold; size: 25px; color: blue;" align="right">#{props['inv.lbl.rol']} : </td>
                          <td><p:inputText id="txtRol"  value="#{investigadorController.selected.rol}" 
                                       required="true" style="background-color: #FBDCDC;"/></td>
                           
                          
                           <td style="font-weight: bold; size: 12px; color: blue;" align="right">#{props['inv.lbl.tipoVin']} :</td>
                            <td> 
                                <p:selectOneMenu id="txtRoles" value="#{investigadorController.selected.tipovinculacion}"   >
                                    <f:selectItem itemLabel="#{props['usu.lbl.selecciontipovin']}" itemValue="" />
                                    <f:selectItem itemLabel="#{props['usu.lbl.propiedad']}" itemValue="Propiedad" />
                                    <f:selectItem itemLabel="#{props['usu.lbl.provisional']}" itemValue="Provisional"   />
                                    <f:selectItem itemLabel="#{props['usu.lbl.catedratico']}" itemValue="Catedratico"  />
                                   
                                </p:selectOneMenu>
                           </td>
                           <td><p:message for="txtRoles"/></td>
                      </tr>
                      
                      <tr>
                          
                          <td style="font-weight: bold; size: 12px; color: blue;" align="right">#{props['inv.lbl.grupoInv']}: </td>
                          <td><p:selectOneMenu id="txtIdGrupoInv" value="#{investigadorController.selected.idgrupoinv}"  required="true">
                                  <f:selectItems value="#{grupoinvestigacionController.itemsAvailableSelectOne}"/>
                                     </p:selectOneMenu></td>
                          
                          
                           
                      </tr>
                       <tr>
                           <center>
                            <td colspan="2">
                              
                                <p:commandButton value="#{props['admin.btn.crear']}" action="#{investigadorController.create}"  update="@form"/>                                               
                                <p:commandButton value="#{props['admin.btn.actualizar']}" action="#{investigadorController.update}" update="@form"/>
                                <p:commandButton value="#{props['admin.btn.eliminar']}" action="#{investigadorController.remove}" update="@form" />                   
                            </td>
                            </center>
                        </tr>
                        <tr>
                             <td colspan="3" style="text-align: center; color: red; font-weight: bold;">
                                <p:outputLabel value="#{investigadorController.mensaje}"/>
                             </td>
                                
                        </tr>
                    </table>
               
                <p:dataTable id="tablaInvestigadores" value="#{investigadorController.getListaInvestigadores()}" var="obj" paginator="true"
                                     rowsPerPageTemplate="5, 10, 15, 20, 30, 40, 50"
                                     rowKey="#{obj.idinvestigador}"
                                     lazy="true"
                                     selection="#{obj}"
                                     selectionMode="single"
                                     paginatorTemplate="{FirstPageLink} {PreviousPageLink} {CurrentPageReport} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}">

                    <p:column headerText="#{props['inv.lbl.cedula']}" style="text-align: center">
                             <h:outputText value="#{obj.idinvestigador}"></h:outputText>
                         </p:column>

                    <p:column headerText="#{props['inv.lbl.nombre']}" style="text-align: center">
                            <h:outputText value="#{obj.nombre}"/>
                        </p:column>
                         
                    <p:column headerText="#{props['inv.lbl.apellidos']}" style="text-align: center">
                             <h:outputText value="#{obj.apellidos}"/>
                        </p:column>
                         
                    <p:column headerText="#{props['inv.lbl.grupoInv']}" style="text-align: center">
                             <h:outputText value="#{obj.idgrupoinv}"/>
                        </p:column>
                         
                    <p:column headerText="#{props['inv.lbl.programa']}" style="text-align: center">
                             <h:outputText value="#{obj.idprograma}"/>
                        </p:column>
                         
                    <p:column headerText="#{props['inv.lbl.telefonof']}" style="text-align: center">
                             <h:outputText value="#{obj.telefonofijo}"/>
                        </p:column>
                        
                    <p:column headerText="#{props['inv.lbl.telefonoc']}" style="text-align: center">
                             <h:outputText value="#{obj.telefonocelular}"/>
                        </p:column>
                    
                    <p:column headerText="#{props['inv.lbl.tipoVin']}" style="text-align: center">
                            <h:outputText value="#{obj.tipovinculacion}"/>
                        </p:column>
                    </p:dataTable>
               
               
            </center>     
         </h:form>
        
        </p:panel>  
 
    </ui:define>

</ui:composition>

