<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
                template="./../WEB-INF/TemplateSV.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui">

    
    <ui:define name="menuLeft">
        
      <h:form id="menu">
         <ui:include src="/vicerrectoria/menuVice.xhtml" />
      </h:form>
 
    </ui:define>

    <ui:define name="content">
        <p:panel id="crearEvarexter" header="#{props['vic.ctituloInstitucion']}"  style="margin-bottom:20px; width: 90%; margin-left: 5%; margin-top: 20px;"> 
        
        <h:form id="formFacultad">
            <center>     
               
                 <p:focus for="txtIdFacultad"/>
                    <table align="center">
                        
                        <tr>
                            <td style="font-weight: bold; size: 25px; color: blue;" align="right">#{props['vic.lbl.crearInstitucion']}: </td>
                            <td><p:inputText id="txtIdFacultad"  value="#{institucionController.selected.idinstitucion}" required="true" style="background-color: #FBDCDC !important;"
                                             requiredMessage="#{props['vuc.required.idInstitucion']}"/></td>
                            <td><p:message for="txtIdFacultad"/></td>
                        </tr>
                        <tr>
                            <td style="font-weight: bold; size: 12px; color: blue;" align="right">#{props['admin.lbl.nombre']} </td>
                            <td><p:inputText id="txtNombre"  value="#{institucionController.selected.nombre}" required="true" style="background-color: #FBDCDC"
                                            requiredMessage="#{props['admin.required.nombre']}"/></td>
                            <td><p:message for="txtNombre"/></td>
                        </tr>
                        <tr>
                            <td style="font-weight: bold; size: 12px; color: blue;" align="right">#{props['vic.lbl.telInstitucion']} </td>
                            <td><p:inputText id="txtTelefono"  value="#{institucionController.selected.telefono}" required="true" style="background-color: #FBDCDC"
                                            requiredMessage="#{props['vuc.required.telInstitucion']}"/></td>
                            <td><p:message for="txtNombre"/></td>
                        </tr>
                        <tr>
                            
                            <td colspan="2">
                                <p:commandButton value="#{props['admin.btn.crear']}" action="#{institucionController.create}" update="formFacultad"/>                                               
                                <p:commandButton value="#{props['admin.btn.actualizar']}" action="#{institucionController.update}" update="formFacultad"/>
                                <p:commandButton value="#{props['admin.btn.eliminar']}" action="#{institucionController.remove}" update="formFacultad" immediate="true"/>                   
                            </td>
                        </tr>
                        <tr>
                             <td colspan="3" style="text-align: center; color: red; font-weight: bold;">
                                 <p:outputLabel value="#{intitucionController.mensaje}"/>
                             </td>
                                
                        </tr>
                    </table>
                 
                 <p:dataTable id="tablaFacultad" value="#{institucionController.getListaInstituciones()}" var="obj" paginator="true"
                                     rowsPerPageTemplate="5, 10, 15, 20, 30, 40, 50"
                                     rowKey="#{obj.idinstitucion}"
                                     lazy="true"
                                     selection="#{obj}"
                                     selectionMode="single"
                                     paginatorTemplate="{FirstPageLink} {PreviousPageLink} {CurrentPageReport} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}">

                     <p:column headerText="#{props['vic.lbl.crearInstitucion']}" style="text-align: center">
                             <h:outputText value="#{obj.idinstitucion}"></h:outputText>
                         </p:column>

                     <p:column headerText="#{props['admin.lbl.nombre']}" style="text-align: center">
                            <h:outputText value="#{obj.nombre}"/>
                        </p:column>
                     <p:column headerText="#{props['vic.lbl.telInstitucion']}" style="text-align: center">
                            <h:outputText value="#{obj.telefono}"/>
                        </p:column>
                    </p:dataTable>
                 
            
            </center>   
                </h:form>
        </p:panel>
    </ui:define>

</ui:composition>
