<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
                template="./../WEB-INF/TemplateSV.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui">

    
    <ui:define name="menuLeft">
        
      <h:form id="menu">
         <ui:include src="/vicerrectoria/menuVice.xhtml" />
      </h:form>
 
    </ui:define>

    <ui:define name="content">
        <p:panel id="crearEvarexter" header="#{props['vic.ctituloEvarexter']}"  style="margin-bottom:20px; width: 90%; margin-left: 5%; margin-top: 20px;"> 
        
        <h:form id="formEvarexter">
            <center>     
               
                 <p:focus for="txtIdEvaluador"/>
                    <table align="center">
                        
                        <tr>
                            <td style="font-weight: bold; size: 25px; color: blue;" align="right">#{props['vic.lbl.idEvarexter']}: </td>
                            <td><p:inputText id="txtIdEvaluador"  value="#{evarexterController.selected.idevaluadorexterno}" required="true" style="background-color: #FBDCDC !important;"
                                              maxlength="10"/></td>
                            
                            <td style="font-weight: bold; size: 12px; color: blue;" align="right">#{props['admin.lbl.nombre']} </td>
                            <td><p:inputText id="txtNombre"  value="#{evarexterController.selected.nombre}" required="true" style="background-color: #FBDCDC"
                                             maxlength="20"/></td>
                           
                        </tr>
                        <tr>
                            <td style="font-weight: bold; size: 12px; color: blue;" align="right">#{props['vic.lbl.apellido']} </td>
                            <td><p:inputText id="txtApellido"  value="#{evarexterController.selected.apellido}" required="true" style="background-color: #FBDCDC"
                                             maxlength="20"/></td>
                       
                            <td style="font-weight: bold; size: 12px; color: blue;" align="right">#{props['vic.lbl.phone']} </td>
                            <td><p:inputText id="txtCelular"  value="#{evarexterController.selected.celular}" required="true" style="background-color: #FBDCDC"
                                            maxlength="20"/></td>
                            
                        </tr>
                        
                        <tr>
                            <td style="font-weight: bold; size: 12px; color: blue;" align="right">#{props['vic.lbl.phoneHome']} </td>
                            <td><p:inputText id="txtResidencia"  value="#{evarexterController.selected.telefonoresidencia}" required="true" style="background-color: #FBDCDC"
                                            maxlength="20"/></td>
                        
                            <td style="font-weight: bold; size: 12px; color: blue;" align="right">#{props['vic.lbl.addressHome']} </td>
                            <td><p:inputText id="txtDireccion"  value="#{evarexterController.selected.direccionresidenccia}" required="true" style="background-color: #FBDCDC"
                                            maxlength="50"/></td>
                            
                        </tr>
                        <tr>
                            <td style="font-weight: bold; size: 12px; color: blue;" align="right">#{props['vic.lbl.impedimento']} </td>
                            <td><p:inputTextarea id="txtImpedi"  value="#{evarexterController.selected.impedimento}" required="true" style="background-color: #FBDCDC"
                                                 maxlength="1000"/></td>
                       
                            <td style="font-weight: bold; size: 12px; color: blue;" align="right">#{props['vic.lbl.Evaemail']} </td>
                            <td><p:inputText id="txtEmail"  value="#{evarexterController.selected.correo}" required="true" style="background-color: #FBDCDC"
                                            maxlength="50"/></td>
                           
                        </tr>
                        
                        <tr>
                            <td style="font-weight: bold; size: 12px; color: blue;" align="right">#{props['vic.lbl.NumCueCor']} </td>
                            <td><p:inputText id="txtCorriente"  value="#{evarexterController.selected.numerocuentacorriente}" required="true" style="background-color: #FBDCDC"
                                           maxlength="30"/></td>
                        
                            <td style="font-weight: bold; size: 12px; color: blue;" align="right">#{props['vic.lbl.EvasavAcc']} </td>
                            <td><p:inputText id="txtAhorro"  value="#{evarexterController.selected.numerocuentaahorros}" required="true" style="background-color: #FBDCDC"
                                            maxlength="30"/></td>
                           
                        </tr>
                        <tr>
                            <td style="font-weight: bold; size: 12px; color: blue;" align="right">#{props['vic.lbl.EvaBank']} </td>
                            <td><p:inputText id="txtBanco"  value="#{evarexterController.selected.banco}" required="true" style="background-color: #FBDCDC"
                                            maxlength="20"/></td>
                        
                            <td style="font-weight: bold; size: 12px; color: blue;" align="right">#{props['vic.lbl.Evacity']} </td>
                            <td><p:inputText id="txtCiudad"  value="#{evarexterController.selected.ciudad}" required="true" style="background-color: #FBDCDC"
                                            maxlength="20"/></td>
                            
                        </tr>
                        <tr>
                            <td style="font-weight: bold; size: 12px; color: blue;" align="right">#{props['vic.lbl.Evades']} </td>
                            <td><p:inputText id="txtArea"  value="#{evarexterController.selected.areadesempeno}" required="true" style="background-color: #FBDCDC"
                                            maxlength="100"/></td>
                            <td style="font-weight: bold; size: 12px; color: blue;" align="right">#{props['vic.lbl.EvaProAca']} </td>
                            <td><p:inputText id="txtProgramaUnidad"  value="#{evarexterController.selected.programaounidadacademica}" required="true" style="background-color: #FBDCDC"
                                            maxlength="100"/></td>
                            
                        </tr>
                        <tr>
                            <td style="font-weight: bold; size: 12px; color: blue;" align="right">#{props['vic.lbl.EvaFac']} </td>
                            <td><p:inputText id="txtFacultad"  value="#{evarexterController.selected.facultad}" required="true" style="background-color: #FBDCDC"
                                            maxlength="50"/></td>
                            <td style="font-weight: bold; size: 12px; color: blue;" align="right">#{props['vic.lbl.Evains']}: </td>
                            <td><p:selectOneMenu id="txtIdInstitucion" value="#{evarexterController.selected.idinstitucion}"  required="true" >
                              <f:selectItems value="#{institucionController.itemsAvailableSelectOne}"/>
                                </p:selectOneMenu></td>
                            
                        </tr>
                        
                 </table>
                 <table align="center">
                        <tr>
                            
                            <td colspan="2">
                                <p:commandButton value="#{props['admin.btn.crear']}" action="#{evarexterController.create}" update="@form"/>                                               
                                <p:commandButton value="#{props['admin.btn.actualizar']}" action="#{evarexterController.update}" update="@form"/>
                                <p:commandButton value="#{props['admin.btn.eliminar']}" action="#{evarexterController.remove}" update="@form" immediate="true"/>                   
                            </td>
                        </tr>
                        <tr>
                             <td colspan="3" style="text-align: center; color: red; font-weight: bold;">
                                 <p:outputLabel value="#{EvarexterController.mensaje}"/>
                             </td>
                                
                        </tr>
                    </table>
                 
                 <p:dataTable id="tablaFacultad2" value="#{evarexterController.getListaEvarexter()}" var="obj" paginator="true"
                                     rowsPerPageTemplate="5, 10, 15, 20, 30, 40, 50"
                                     rowKey="#{obj.idevaluadorexterno}"
                                     lazy="true"
                                     selection="#{obj}"
                                     selectionMode="single"
                                     paginatorTemplate="{FirstPageLink} {PreviousPageLink} {CurrentPageReport} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}">

                     <p:column headerText="#{props['vic.lbl.idEvarexter']}" style="text-align: center">
                         <h:outputText value="#{obj.idevaluadorexterno}"></h:outputText>
                         </p:column>

                     <p:column headerText="#{props['admin.lbl.nombre']}" style="text-align: center">
                            <h:outputText value="#{obj.nombre}"/>
                        </p:column>
                     <p:column headerText="#{props['vic.lbl.apellido']}" style="text-align: center">
                         <h:outputText value="#{obj.apellido}"/>
                        </p:column>
                     <p:column headerText="#{props['vic.lbl.phone']}" style="text-align: center">
                         <h:outputText value="#{obj.celular}"/>
                        </p:column>
                     
                     <p:column headerText="#{props['vic.lbl.telInstitucion']}" style="text-align: center">
                         <h:outputText value="#{obj.correo}"/>
                        </p:column>
                     </p:dataTable>
                 
            
            </center>   
                </h:form>
        </p:panel>
    </ui:define>

</ui:composition>
