<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
                template="./../WEB-INF/TemplateSV.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui">

    
    <ui:define name="menuLeft">
      <h:form id="menu">
          <ui:include src="/vicerrectoria/menuVice.xhtml" />
      </h:form>
 
    </ui:define>

    <ui:define name="content">
        <p:panel id="convocatoriaForm" header="#{props['inv.lbl.grupoInv']}"  style="margin-bottom:20px; width: 90%; margin-left: 5%; margin-top: 30px;">
        <h:form id="formGrupoInve">
            <center>     
               
                 <p:focus for="txtIdGrupoInv"/>
                    <table align="center">
                        
                        <tr>
                            <td style="font-weight: bold; size: 25px; color: blue;" align="right">#{props['inv.lbl.identificador']} : </td>
                            <td><p:inputText id="txtIdGrupoInv"  value="#{grupoinvestigacionController.selected.idginves}" required="true" style="background-color: #FBDCDC;"/></td>
                          
                        </tr>
                        <tr>
                            <td style="font-weight: bold; size: 12px; color: blue;" align="right">#{props['inv.lbl.nombre']} : </td>
                            <td><p:inputText id="txtNombre"  value="#{grupoinvestigacionController.selected.nombre}" required="true" style="background-color: #FBDCDC;"
                                            /></td>
                            
                        </tr>
                        <tr>
                            <td style="font-weight: bold; size: 12px; color: blue;" align="right">#{props['inv.lbl.programa']} : </td>
                            <td><p:selectOneMenu id="txtIdPrograma" value="#{grupoinvestigacionController.selected.idprograma}"  required="true" requiredMessage="#{props['admin.lbl.nombrep']}">
                                         <f:selectItems value="#{programaController.itemsAvailableSelectOne}"/>
                                </p:selectOneMenu></td>
                            <td><p:message for="txtIdPrograma"/></td>
                        </tr>
                        <tr>
                            
                            <td colspan="2">
                                <p:commandButton value="#{props['admin.btn.crear']}" action="#{grupoinvestigacionController.create}" update="@form"/>                                               
                                <p:commandButton value="#{props['admin.btn.actualizar']}" action="#{grupoinvestigacionController.update}" update="@form"/>
                                <p:commandButton value="#{props['admin.btn.eliminar']}" action="#{grupoinvestigacionController.remove}" update="@form" immediate="true"/>                   
                            </td>
                        </tr>
                        <tr>
                             <td colspan="3" style="text-align: center; color: red; font-weight: bold;">
                                 <p:outputLabel value="#{grupoinvestigacionController.mensaje}"/>
                             </td>
                                
                        </tr>
                    </table>
                 
                 <p:dataTable id="tablaFacultad" value="#{grupoinvestigacionController.getLista()}" var="obj" paginator="true"
                                     rowsPerPageTemplate="5, 10, 15, 20, 30, 40, 50"
                                     rowKey="#{obj.idginves}"
                                     lazy="true"
                                     selection="#{obj}"
                                     selectionMode="single"
                                     paginatorTemplate="{FirstPageLink} {PreviousPageLink} {CurrentPageReport} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}">

                         <p:column headerText="#{props['inv.lbl.identificador']}" style="text-align: center">
                             <h:outputText value="#{obj.idginves}"></h:outputText>
                         </p:column>

                        <p:column headerText="#{props['inv.lbl.nombre']}" style="text-align: center">
                            <h:outputText value="#{obj.nombre}"/>
                        </p:column>
                         
                        <p:column headerText="#{props['inv.lbl.programa']}" style="text-align: center">
                            <h:outputText value="#{obj.idprograma}"></h:outputText>
                        </p:column> 
                    </p:dataTable>
                 
            
                  </center>   
                </h:form>
             </p:panel>
    </ui:define>

</ui:composition>
