<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns:ui="http://java.sun.com/jsf/facelets"
                template="./../WEB-INF/TemplateSV.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui">
 
    
                            <p:menu >
                            <p:submenu label="#{props['vic.lbl.vicerrectoria']}" >
                                <p:menuitem value="#{props['admin.cinicio']}" url="./../vicerrectoria.sv" />
                                <p:menuitem value="#{props['vic.lbl.crearInv']}" url="./crearInvestigador.sv"  />
                                <p:menuitem value="#{props['vic.lbl.gestGrupoInv']}" url="./gestionGrupoInv.sv"/>
                                <p:menuitem value="#{props['vic.lbl.crearconvocatoria']}" url="./vistaConvocatoria.sv"/>
                                <p:menuitem value="#{props['vic.lbl.crearEvaExt']}" url="./crearEvarexter.sv"/>
                                <p:menuitem value="#{props['vic.lbl.crearInstitu']}" url="./crearInstitucion.sv"/>
                                <p:menuitem value="#{props['admin.salir']}" url="/logout.jsp" />
                            </p:submenu>
                         </p:menu>
</html>
