<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
                template="./../WEB-INF/TemplateSV.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui">

    
    <ui:define name="menuLeft">
       
           <h:form id="menu">
                 <ui:include src="/vicerrectoria/menuVice.xhtml" />
           </h:form>
    </ui:define>

    <ui:define name="content">
        <p:panel id="convocatoriaForm" header="#{props['vic.lbl.crearconvocatoria']}"  style="margin-bottom:20px; width: 80%; margin-left: 10%; margin-top: 30px;">
            <h:form id="formInvestigador" enctype="multipart/form-data" style="margin-top: 15px;">
             <center>     
               <p:focus for="txtIdConvocatoria"/>
                  <table align="center">
                    <tr>
                        <td style="font-weight: bold; size: 25px; color: blue;" align="right" >#{props['admin.lbl.identificador']} : </td>
                      <td><p:inputText id="txtIdConvocatoria"  value="#{convocatoriaController.selected.idconvocatoria}" 
                                       required="true" style="background-color: #FBDCDC ;" /></td>
                     
                    </tr>
                    
                    <tr>
                        <td style="font-weight: bold; size: 25px; color: blue;" align="right">#{props['admin.lbl.nombre']}: </td>
                      <td><p:inputText id="txtNombre"  value="#{convocatoriaController.selected.nombre}" 
                                       required="true" style="background-color: #FBDCDC ;"/></td>
                      
                   </tr>
                    <tr>
                      <td style="font-weight: bold; size: 25px; color: blue;" align="right">#{props['usu.lbl.fechapublic']}: </td>
                      <td><p:calendar id="txtFecha" value="#{convocatoriaController.selected.fechapublicacion}" required="true" style="background-color: #FBDCDC ;"
                                             requiredMessage="#{props['admin.required.idUsuario']}"/></td>
                     
                   </tr>     
                  </table>
                <p:panel style="margin-bottom:20px; width: 50%; margin-left: 8%; margin-top: 30px;" >   
                    <td><p:commandButton value="#{props['inv.lbl.cargar']}" type="button" onclick="PF('convocatoria').show();" /></td>      
                       <td colspan="3" style="text-align: center; color: red; font-weight: bold;">
                                  <p:outputLabel value="#{convocatoriaController.url}"/>
                       </td>
                        <p:dialog header="#{props['usu.lbl.ingreseconv']}" widgetVar="convocatoria" minHeight="40" width="500">
                           <p:panel>  
                              <ui:include src="/investigador/cargarArchivo.xhtml" />
                              
                            </p:panel>
                        </p:dialog>  
                   </p:panel>   
               
               <table>
                      <tr>   
                         <td colspan="2">
                             <center><p:commandButton value="#{props['admin.btn.crear']}" action="#{convocatoriaController.create()}"  ajax="false" update="@form"/></center> 
                          </td>
                       </tr>
                       <tr>
                              <td colspan="3" style="text-align: center; color: red; font-weight: bold;">
                                  <p:outputLabel value="#{convocatoriaController.mensaje}"/>
                               </td>
                       </tr>

                    </table>
                
             </center>
           </h:form>
        </p:panel>
           
           
          
        
        
        
            
    
        <p:dataTable id="tablaInvestigadores" value="#{convocatoriaController.getListaConvocatorias()}" var="obj" paginator="true"
                                     rowsPerPageTemplate="5, 10, 15, 20, 30, 40, 50"
                                     rowKey="#{obj.idconvocatoria}"
                                     lazy="true"
                                     selection="#{obj}"
                                     selectionMode="single"
                                     paginatorTemplate="{FirstPageLink} {PreviousPageLink} {CurrentPageReport} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}">

                         <p:column headerText="#{props['usu.btn.numero']}" style="text-align: center">
                             <h:outputText value="#{obj.idconvocatoria}"></h:outputText>
                         </p:column>

                        <p:column headerText="#{props['inv.lbl.nombre']}" style="text-align: center">
                            <h:outputText value="#{obj.nombre}"/>
                        </p:column>
                         
                        <p:column headerText="#{props['inv.lbl.fecha']}" style="text-align: center">
                             <h:outputText value="#{obj.fechapublicacion}"/>
                        </p:column>
                         
                        <p:column headerText="#{props['usu.lbl.ruta']}" style="text-align: center">
                             <h:outputText value="#{obj.descripcionruta}"/>
                        </p:column>
                         
                         
                    </p:dataTable>
        
        
        
        
    </ui:define>
    
</ui:composition>

