<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns:ui="http://java.sun.com/jsf/facelets"
                template="./../WEB-INF/TemplateSV.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui">
  
    
    <p:panel style="margin-bottom:20px; width: 90%; margin-left: 5%; margin-top: 20px;">
          
        <h:form id="formlistainv">
               <p:outputLabel for="txtinvestigadores" value="#{props['usu.lbl.seleccioneinves']} :" />
               <p:selectManyMenu id="txtinvestigadores" value="#{usuarioController.listaSeleccionada}"
                                 required="true">
                   <f:selectItems value="#{usuarioController.darItemsInvestigadores()}"/>
               
               </p:selectManyMenu>
               
               
               <p:outputLabel for="txtinvestigadoresAsign" value="#{props['usu.lbl.invesselec']} :" />
               <p:selectManyMenu id="txtinvestigadoresAsign" value="#{usuarioController.newli}"
                                 required="true" disabled="true">
                   <f:selectItems value="#{usuarioController.darItemsInvestigadoresSelec()}"/>
              </p:selectManyMenu>
               
               <p:commandButton value="Cargar" update="formlistainv" action="#{usuarioController.cargarListaInvestigadores()}"/>
 
          </h:form>    
      </p:panel>
    
</html>
