<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns:ui="http://java.sun.com/jsf/facelets"
                template="./../WEB-INF/TemplateSV.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui">
    
    <p:panel id="aspectobioetico" header="Aspecto Bioético"  style="margin-bottom:20px; width: 95%; margin-left: 2%; margin-top: 20px;">
             
        <div style="height: 30px;"></div>
        Escriba el Aspecto Biético de su Proyecto de investigación:
           
               <p:focus for="txtbioetica"/>
               <p:editor id="txtbioetica" widgetVar="editorWidget" value="#{usuarioController.proyectoController.aspectosbio}" width="800" height="300"/>
               <h:panelGrid  style="margin-top: 10px">
                   
                   <p:commandButton value="Cargar" action="#{usuarioController.proyectoController.guardarBioetica()}" update="@form"/>

               </h:panelGrid>
                       <p:outputLabel value="#{usuarioController.proyectoController.mensaje}"/>
               
      </p:panel>
     
</html>
