<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns:ui="http://java.sun.com/jsf/facelets"
                template="./../WEB-INF/TemplateSV.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui">
    
    <p:panel id="crearTitulo" header="#{props['inv.lbl.cargartitulos']}"  style="margin-bottom:20px; width: 90%; margin-left: 5%; margin-top: 20px;">
          
           <h:form id="formTitulo" >
            <center>     
               <p:focus for="txtRegistro"/>
                  <table align="center">
                    <tr>
                        <td style="font-weight: bold; size: 25px; color: blue;" align="right">#{props['inv.lbl.tipotitulo']} : </td>
                      <td><p:selectOneRadio id="tipo" value="#{usuarioController.tituloController.tipoTitulo}">
                              <p:ajax listener="#{usuarioController.tituloController.cambiarValor()}" update="formTitulo"/>
                                 <f:selectItem itemLabel="Pregrado" itemValue="pregrado" />
                                <f:selectItem itemLabel="Postgrado" itemValue="postgrado" />
                                
                            </p:selectOneRadio></td>
                                        
                     
                    </tr>
                    
                    <tr>
                         <td style="font-weight: bold; size: 12px; color: blue;" align="right">#{['inv.lbl.tipopostgrado']} :</td>
                           <td> 
                               <p:selectOneMenu id="txtTipoPost" value="#{usuarioController.tituloController.selected.tipopostgrado}"  
                                                disabled="#{usuarioController.tituloController.valor}">
                                    <f:selectItem itemLabel="#{props['inv.lbl.seleccionetipo']}" itemValue="" />
                                    <f:selectItem itemLabel="#{props['inv.lbl.especializacion']}" itemValue="Especializacion" />
                                    <f:selectItem itemLabel="#{props['inv.lbl.maestria']}" itemValue="Maestria"   />
                                    <f:selectItem itemLabel="#{props['inv.lbl.doctorado']}" itemValue="Doctorado"  />
                                   
                                </p:selectOneMenu>
                           </td>
                           
                        
                         <td style="font-weight: bold; size: 25px; color: blue;" align="right" >#{props['inv.lbl.registro']}: </td>
                       <td><p:inputText id="txtRegistro"  value="#{usuarioController.tituloController.selected.idtitulo}" 
                                        style="background-color: #FBDCDC ;"
                                       /></td>
                       
                     
                     
                    </tr>
                      
                    <tr>
                      <td style="font-weight: bold; size: 25px; color: blue;" align="right">#{props['inv.lbl.tiulo']}: </td>
                      <td><p:inputText id="txtTitulo"  value="#{usuarioController.tituloController.selected.nombre}" 
                                       required="true" style="background-color: #FBDCDC ;"
                                            /></td>
                     
                      
                      <td style="font-weight: bold; size: 25px; color: blue;" align="right">#{props['inv.lbl.acta']}: </td>
                      <td><p:inputText id="txtActa"  value="#{usuarioController.tituloController.selected.numeroacta}" 
                                       required="true" style="background-color: #FBDCDC;"
                                            /></td>
                        
                        
                     
                    </tr>  
                      
                    <tr>
                        <td style="font-weight: bold; size: 25px; color: blue;" align="right">#{props['inv.lbl.fecha']}: </td>
                        <td><p:calendar id="txtFecha" value="#{usuarioController.tituloController.selected.fecha}" required="true" style="background-color: #FBDCDC ;"
                                               /></td>

                       
                             
                      </tr>
                 </table>
               </center>
   
               <center>
                  <table>
                      <tr>   
                         <td colspan="2">
                             <center><p:commandButton value="#{props['inv.lbl.guardar']}" action="#{usuarioController.crearTitulo()}" update="@form"/></center> 
                            
                          </td>
                       </tr>
                       <tr>
                              <td colspan="3" style="text-align: center; color: red; font-weight: bold;">
                                  <p:outputLabel value="#{tituloController.mensaje}"/>
                               </td>
                       </tr>

                    </table>
                </center>
         </h:form>
      </p:panel>
</html>

