<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns:ui="http://java.sun.com/jsf/facelets"
                template="./../WEB-INF/TemplateSV.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui">
    
   <h:form enctype="multipart/form-data">
            <p:growl id="messages" showDetail="true" />   
            <p:fileUpload value="#{convocatoriaController.file}" mode="simple" allowTypes="/(\.|\/)(pdf)$/"/>
            <p:commandButton value="#{props['inv.lbl.guardar']}" ajax="false" actionListener="#{convocatoriaController.upload()}" />
    </h:form>
</html>
