<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
                template="./../WEB-INF/TemplateSV.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui">

    
    <ui:define name="menuLeft">
       
           <h:form id="menu">
                           <p:menu >
                            <p:submenu label="#{props['investigador']}" >
                                <p:menuitem value="#{props['admin.cinicio']}" url="./../investigador.sv" />
                                <p:menuitem value="#{props['inv.lbl.menu1']}" url="./editarInvestigador.sv"  />
                                <p:menuitem value="#{props['inv.lbl.menu2']}" url="./verInformacionInvestigador.sv"/>
                                <p:menuitem value="#{props['inv.lbl.menu3']}" url="./mostrarConvocatoria.sv"/>
                                <p:menuitem value="#{props['usu.lbl.menu4']}" url="./crearProyecto.sv"/>
                                <p:menuitem value="#{props['admin.salir']}" url="/logout.jsp" />
                            </p:submenu>
                         </p:menu>
               </h:form>
    
</ui:define>
    
<ui:define name="content">
    <p:panel id="proyecto" header="#{props['usu.lbl.menu4']}"  style="margin-bottom:20px; width: 95%; margin-left: 2%; margin-top: 30px;">
      #{usuarioController.guardarId()}
    
    <h:form id="formularioProyecto">
        
      <table>
            <td style="font-weight: bold; size: 12px; color: blue;" align="right">#{props['usu.lbl.proyecto']}: </td>
            <td><p:selectOneMenu id="txtIdProyecto" value="#{usuarioController.proyectoController.current}">
                    <p:ajax listener="#{usuarioController.darListener()}" update="formularioProyecto"/>  
                    <f:selectItems value="#{proyectoController.itemsAvailableSelectOne}"/>
                </p:selectOneMenu></td>
      </table>
       
        <p:tabView dynamic="true">
           
            <p:tab title="#{props['usu.lbl.informBasica']}" >
                   <ui:include src="/investigador/proyectoInfoBasica.xhtml" />
            </p:tab>
            
            <p:tab title="Agregar Investigadores" disabled="#{usuarioController.proyectoController.paneles}">
                <ui:include src="/investigador/agregarInvestigadores.xhtml" />
            </p:tab>
            <p:tab title="Resumen" disabled="#{usuarioController.proyectoController.paneles}">
                <ui:include src="/investigador/proyectoResumen.xhtml" />
            </p:tab>
            <p:tab title="MarcoTeorico" disabled="#{usuarioController.proyectoController.paneles}">
                <ui:include src="/investigador/marcoTeorico.xhtml" />
            </p:tab>
            <p:tab title="Impacto Social" disabled="#{usuarioController.proyectoController.paneles}">
                <ui:include src="/investigador/impactosocial.xhtml" />
            </p:tab>
            <p:tab title="Planteamiento del Problema" disabled="#{usuarioController.proyectoController.paneles}">
                <ui:include src="/investigador/planteamientoproblema.xhtml" />
            </p:tab>
            <p:tab title="Justificacion" disabled="#{usuarioController.proyectoController.paneles}">
                <ui:include src="/investigador/justificacion.xhtml" />
            </p:tab>
            <p:tab title="Metodología" disabled="#{usuarioController.proyectoController.paneles}">
                <ui:include src="/investigador/metodologia.xhtml" />
            </p:tab>
            <p:tab title="Resultados Esperados" disabled="#{usuarioController.proyectoController.paneles}">
                <ui:include src="/investigador/resultadosesperados.xhtml" />
            </p:tab>
            <p:tab title="Productos Esperados" disabled="#{usuarioController.proyectoController.paneles}">
                <ui:include src="/investigador/productosEsperados.xhtml" />
            </p:tab>
            <p:tab title="Bibliografía" disabled="#{usuarioController.proyectoController.paneles}">
                <ui:include src="/investigador/bibliografia.xhtml" />
            </p:tab>
            <p:tab title="Trayectoria GrupInv" disabled="#{usuarioController.proyectoController.paneles}">
                <ui:include src="/investigador/trayectoriagrupoinv.xhtml" />
            </p:tab>
            <p:tab title="Aspecto Bioetico" disabled="#{usuarioController.proyectoController.paneles}">
                <ui:include src="/investigador/aspectobioetico.xhtml" />
            </p:tab>
            <p:tab title="Resumen de Resultados" disabled="#{usuarioController.proyectoController.paneles}">
                <ui:include src="/investigador/resumenResultados.xhtml" />
            </p:tab>
            <p:tab title="Informe Cientifico" disabled="#{usuarioController.proyectoController.paneles}">
                <ui:include src="/investigador/informeCientifico.xhtml" />
            </p:tab>
            <p:tab title="Resultados Directos" disabled="#{usuarioController.proyectoController.paneles}">
                <ui:include src="/investigador/resultadosDirectos.xhtml" />
            </p:tab>
            <p:tab title="Resultados InDirectos" disabled="#{usuarioController.proyectoController.paneles}">
                <ui:include src="/investigador/resultadosIndirectos.xhtml" />
            </p:tab>
            <p:tab title="Limitantes" disabled="#{usuarioController.proyectoController.paneles}">
                <ui:include src="/investigador/Limitantes.xhtml" />
            </p:tab>
            <p:tab title="Financiero" disabled="#{usuarioController.proyectoController.paneles}">
                <ui:include src="/investigador/financiero.xhtml" />
            </p:tab>
        </p:tabView>
     </h:form>
    </p:panel> 
  </ui:define>
</ui:composition>
