<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
                template="./../WEB-INF/TemplateSV.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui">

    
    <ui:define name="menuLeft">
       
           <h:form id="menu">
                           <p:menu >
                            <p:submenu label="#{props['investigador']}" >
                                <p:menuitem value="#{props['admin.cinicio']}" url="./../investigador.sv" />
                                <p:menuitem value="#{props['inv.lbl.menu1']}" url="./editarInvestigador.sv"  />
                                <p:menuitem value="#{props['inv.lbl.menu2']}" url="./verInformacionInvestigador.sv"/>
                                <p:menuitem value="#{props['inv.lbl.menu3']}" url="./mostrarConvocatoria.sv"/>
                                <p:menuitem value="#{props['usu.lbl.menu4']}" url="./crearProyecto.sv"/>
                                <p:menuitem value="#{props['admin.salir']}" url="/logout.jsp" />
                            </p:submenu>
                         </p:menu>
               </h:form>
    
    </ui:define>

    <ui:define name="content">
        
        <p:panel id="editarInv" header="#{props['inv.lbl.editar']}"  style="margin-bottom:20px; width: 85%; margin-left: 7%; margin-top: 20px;">
          
           <h:form id="formInvestigador" >
            <center>     
               <p:focus for="txtIdInvestigador"/>
                  <table align="center">
                    <tr>
                        <td style="font-weight: bold; size: 25px; color: blue;" align="right" >#{props['inv.lbl.cedula']} : </td>
                      <td><p:inputText id="txtIdInvestigador"  value="#{usuarioController.usuarioValidado.idinvestigador.idinvestigador}" 
                                       required="true" style="background-color: #FBDCDC ;"
                                        disabled="true"/></td>
                     
                    </tr>
                    
                    <tr>
                      <td style="font-weight: bold; size: 25px; color: blue;" align="right">#{props['inv.lbl.nombre']}: </td>
                      <td><p:inputText id="txtNombre"  value="#{usuarioController.usuarioValidado.idinvestigador.nombre}" 
                                       required="true" style="background-color: #FBDCDC ;"
                                             /></td>
                      
                      
                      <td style="font-weight: bold; size: 25px; color: blue;" align="right">#{props['inv.lbl.apellidos']}: </td>
                      <td><p:inputText id="txtApellidos"  value="#{usuarioController.usuarioValidado.idinvestigador.apellidos}" 
                                       required="true" style="background-color: #FBDCDC;"
                                            /></td>
                     
                    </tr>
                      
                    <tr>
                        <td style="font-weight: bold; size: 25px; color: blue;" align="right">#{props['inv.lbl.edad']}: </td>
                      <td style="width: 10px;"><p:spinner id="txtEdad" value="#{usuarioController.usuarioValidado.idinvestigador.edad}" min="20" max="70" 
                                     required="true" style="background-color: #FBDCDC;"
                                              /></td>
                     
                        
                        <td style="font-weight: bold; size: 25px; color: blue;" align="right">#{props['inv.lbl.telefonof']}: </td>
                      <td><p:inputMask id="txtTelefono"  value="#{usuarioController.usuarioValidado.idinvestigador.telefonofijo}" 
                                       required="true" style="background-color: #FBDCDC;"
                                             mask="(999) 999-9999"/></td>                  
                      
                    </tr>  
                      
                    <tr>
                       <td style="font-weight: bold; size: 12px; color: blue;" align="right">#{props['inv.lbl.programa']}: </td>
                       <td><p:selectOneMenu id="txtIdPrograma" value="#{usuarioController.usuarioValidado.idinvestigador.idprograma}"  required="true" 
                                             disabled="true">
                              <f:selectItems value="#{programaController.itemsAvailableSelectOne}"/>
                           </p:selectOneMenu></td>
                        
                        
                        <td style="font-weight: bold; size: 25px; color: blue;" align="right">#{props['inv.lbl.telefonoc']}: </td>
                       <td><p:inputMask id="txtTelefonoCelular"  value="#{usuarioController.usuarioValidado.idinvestigador.telefonocelular}" 
                                       required="true" style="background-color: #FBDCDC;"
                                             mask="(999) 999-9999"/></td>
                       
                     </tr>  
                    
                     <tr>
                         <td style="font-weight: bold; size: 25px; color: blue;" align="right">#{props['inv.lbl.correo']} : </td>
                        <td> <p:inputText id="txtEmail"  required="true" style="background-color: #FBDCDC;"
                                     
                                    validatorMessage="#{props['usu.lbl.usuarioinvalido']}"
                                    value="#{usuarioController.usuarioValidado.idinvestigador.correo}" >
                           <f:validateRegex pattern="^[_A-Za-z0-9-\+]+(\.[_A-Za-z0-9-]+)*@[A-Za-z0-9-]+(\.[A-Za-z0-9]+)*(\.[A-Za-z]{2,})$" />
                           </p:inputText> </td>
                         
                      
                         <td style="font-weight: bold; size: 25px; color: blue;" align="right">#{props['inv.lbl.direccion']} : </td>
                         <td><p:inputText id="txtDireccion"  value="#{usuarioController.usuarioValidado.idinvestigador.direccion}" 
                                       required="true" style="background-color: #FBDCDC;"
                                             requiredMessage="#{props['admin.required.idUsuario']}"/></td>
                         <td><p:message for="txtDireccion"/></td>
                    </tr>
                    
                    <tr>
                        <td style="font-weight: bold; size: 25px; color: blue;" align="right">#{props['inv.lbl.principal']} : </td>
                           <td><p:selectOneRadio id="txtPrincipal" value="#{usuarioController.usuarioValidado.idinvestigador.principal}"
                                                 required="true" 
                                                  disabled="true">
                                    <f:selectItem itemLabel="#{props['usu.lbl.si']}" itemValue="1" />
                                    <f:selectItem itemLabel="#{props['usu.lbl.no']}" itemValue="0" />
                               </p:selectOneRadio></td>
                           
                    
                        <td style="font-weight: bold; size: 25px; color: blue;" align="right">#{props['inv.lbl.rol']} : </td>
                           <td><p:inputText id="txtRol"  value="#{usuarioController.usuarioValidado.idinvestigador.rol}" 
                                       required="true" style="background-color: #FBDCDC;"
                                             /></td>
                           
                      </tr>
                      
                      <tr>
                          <td style="font-weight: bold; size: 12px; color: blue;" align="right">#{props['inv.lbl.tipoVin']}</td>
                           <td> 
                                <p:selectOneMenu id="txtRoles" value="#{usuarioController.usuarioValidado.idinvestigador.tipovinculacion}"  
                                                 disabled="true">
                                    <f:selectItem itemLabel="#{props['usu.lbl.selecciontipovin']}" itemValue="" />
                                    <f:selectItem itemLabel="#{props['usu.lbl.propiedad']}" itemValue="Propiedad" />
                                    <f:selectItem itemLabel="#{props['usu.lbl.provisional']}" itemValue="Provisional"   />
                                    <f:selectItem itemLabel="#{props['usu.lbl.catedratico']}" itemValue="Catedratico"  />
                                   
                                </p:selectOneMenu>
                           </td>
                           
    
                          <td style="font-weight: bold; size: 12px; color: blue;" align="right">#{props['inv.lbl.grupoInv']}: </td>
                           <td><p:selectOneMenu id="txtIdGrupoInv" value="#{usuarioController.usuarioValidado.idinvestigador.idgrupoinv}" 
                                               required="true" disabled="true"
                                                  >
                                  <f:selectItems value="#{grupoinvestigacionController.itemsAvailableSelectOne}"/>
                                </p:selectOneMenu></td>
                           
                      </tr>
   
                      
                  </table>
               </center>
               <center>
                  <table>
                      <tr>   
                         <td colspan="2">
                             <center><p:commandButton value="#{props['admin.btn.actualizar']}" action="#{usuarioController.editarInv()}" update="@form"/></center> 
                          </td>
                       </tr>
                       <tr>
                              <td colspan="3" style="text-align: center; color: red; font-weight: bold;">
                                  <p:outputLabel value="#{investigadorController.mensaje}"/>
                               </td>
                       </tr>

                    </table>
                </center>
         </h:form>
      </p:panel>
       
     
        <p:panel id="curriculum" header="#{props['inv.lbl.hojavida']}"  style="margin-bottom:20px; width: 85%; margin-left: 7%; margin-top: 30px;" >   
                    <p:commandButton value="#{props['inv.lbl.cargar']}" type="button" onclick="PF('curriculum').show();" />      
                    <p:outputLabel value="#{usuarioController.usuarioValidado.idinvestigador.curriculumruta}"/>
                   <p:outputLabel value="#{usuarioController.mensajecargarM}"/>
                    <p:dialog header="#{props['inv.lbl.cargarcurriculum']}" widgetVar="curriculum" minHeight="40" width="500">
                        <p:panel>  
                           <h:form enctype="multipart/form-data">

                               <p:fileUpload value="#{usuarioController.file}" mode="simple"/>
                               <p:commandButton value="#{props['inv.lbl.cargar']}" ajax="false" actionListener="#{usuarioController.uploadInv()}" />
                               
                           </h:form>
                        </p:panel>
                    </p:dialog>  
                </p:panel> 
        
                <p:panel id="titulo" header="#{props['inv.lbl.ingresartitul']}"  style="margin-bottom:20px; width: 85%; margin-left: 7%; margin-top: 30px;" >   
                    <p:commandButton value="#{props['inv.lbl.cargar']}" type="button" onclick="PF('tituloInv').show();"  />      
                    <p:outputLabel value="#{usuarioController.misTitulos()}"/>
                    <p:dialog header="#{props['inv.lbl.cargartitulos']}" widgetVar="tituloInv" minHeight="40" width="900" >
                    <p:ajax event="close"  listener="#{usuarioController.refrescar()}"/>    
                        <p:panel>  
                           <ui:include src="/investigador/cargarTitulo.xhtml" />
                        </p:panel>
                    </p:dialog>  
                </p:panel>   
           
    </ui:define>

</ui:composition>

