<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns:ui="http://java.sun.com/jsf/facelets"
                template="./../WEB-INF/TemplateSV.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui">
    
  
  <p:panel style="margin-bottom:5px; width: 99%;  margin-top: 5px;" > 
     <div style="height: 15px;"></div>  
     
      
        <center>     
        <p:focus for="txtunidadejecutora"/>
        <table>
           <tr style="margin-top: 8px;">
               <td style="color: blue; width: 23%; font-weight: bold; size: 25px;" align="right" >Unidad Ejecutora : </td>
               <td style="width: 23%;"><p:inputTextarea id="txtunidadejecutora"  value="#{usuarioController.proyectoController.selected.unidadejecutora}" 
                                                                 style="background-color: #FBDCDC;" maxlength="150"/></td>
          </tr>
          <tr style="margin-top: 8px;">
             <td style="color: blue; width: 23%; font-weight: bold; size: 25px;" align="right" >Entidad Cofinanciadora : </td>
             <td style="width: 23%; "><p:inputTextarea id="txtEntidadconfin"  value="#{usuarioController.proyectoController.selected.entidadcofinanciadora}" 
                                    style="background-color: #FBDCDC;" maxlength="150"/></td>
         </tr>
         <tr style="margin-top: 8px;">
             <td style="font-weight: bold; size: 25px; color: blue; width: 25%;" align="right">Numero de Contrato: </td>
             <td style="width: 75%;"><p:inputText id="txtNumerocontra"  value="#{usuarioController.proyectoController.selected.numerocontrato}" 
                                                        required="true" style="background-color: white; width: 100%;" maxlength="80"/></td>
         </tr>
         <tr style="margin-top: 8px;"> 
             <td style="font-weight: bold; size: 25px; color: blue;width: 23%;" align="right">Duracion Real (meses): </td>
             <td style="width: 30px;"><p:spinner id="txttiemporeal" value="#{usuarioController.proyectoController.selected.duracionreal}" 
                                            min="1" max="100" required="true" style="background-color: #FBDCDC;"/></td>                
         </tr>  
           
      </table>
      
        <div style="height: 15px; "></div> 
        <table style="margin-top: 8px;">
             
            <p:commandButton value="Guardar Cambios" action="#{usuarioController.proyectoController.update()}" update="@form"/>
       
        </table>
        <table>
          <tr>
             <td colspan="3" style="text-align: center; color: red; font-weight: bold;">
                 <p:outputLabel value="#{usuarioController.proyectoController.mensaje}"/>
             </td>
          </tr>
        </table>
      </center>
        
   
             
             
             
         
         </p:panel>    
 
</html>

