<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
                template="./../WEB-INF/TemplateSV.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui">

    
    <ui:define name="menuLeft">
       
           <h:form id="menu">
                           <p:menu >
                            <p:submenu label="#{props['investigador']}" >
                                <p:menuitem value="#{props['admin.cinicio']}" url="./../investigador.sv" />
                                <p:menuitem value="#{props['inv.lbl.menu1']}" url="./editarInvestigador.sv"  />
                                <p:menuitem value="#{props['inv.lbl.menu2']}" url="./verInformacionInvestigador.sv"/>
                                <p:menuitem value="#{props['inv.lbl.menu3']}s" url="./mostrarConvocatoria.sv"/>
                                <p:menuitem value="#{props['usu.lbl.menu4']}" url="./crearProyecto.sv"/>
                                <p:menuitem value="#{props['admin.salir']}" url="/logout.jsp" />
                            </p:submenu>
                         </p:menu>
               </h:form>
    
    </ui:define>

    <ui:define name="content">
       
        <h:form id="formConv">
          <center>
                <p:panel id="convocatoria" header="#{props['inv.lbl.verconvocatoria']}"  style="margin-bottom:20px; width: 55%; margin-left: 7%; margin-top: 30px;">

                <table>
                    <td style="font-weight: bold; size: 12px; color: blue;" align="right">#{props['inv.lbl.buscarconvocatoria']} : </td>
                    <td><p:selectOneMenu id="txtIdConvocatoria" value="#{convocatoriaController.seleccionada}"  required="true" requiredMessage="#{props['admin.lbl.nombrep']}">
                            <p:ajax listener="#{convocatoriaController.darListener()}" update="formConv"/>
                            <f:selectItems value="#{convocatoriaController.itemsAvailableSelectOne}"/>
                       </p:selectOneMenu></td>
                </table>
                </p:panel>
         </center>
            
         
         <center>
                <p:panel id="verConvocatoria" header="#{props['inv.lbl.detallerconvocatorias']}"  style="margin-bottom:20px; width: 85%; margin-left: 7%; margin-top: 30px;">

                    <table style="margen-top:15px;" >
                     <tr>
                         <td style="font-weight: bold; size: 12px; color: blue; width: 40%;" align="right">#{props['inv.lbl.identificador']} : </td>
                         <td style="font-weight: bold; size: 12px; color: black; width: 40%;" align="left">#{convocatoriaController.seleccionada.idconvocatoria} </td>
                     
                     </tr>
                    
                     <tr>
                         <td style="font-weight: bold; size: 12px; color: blue; width: 40%;" align="right">#{props['inv.lbl.nombre']} : </td>
                         <td style="font-weight: bold; size: 12px; color: black; width: 40%;" align="left">#{convocatoriaController.seleccionada.nombre} </td>
                     
                     </tr>
                     
                     <tr>
                         <td style="font-weight: bold; size: 12px; color: blue; width: 40%;" align="right">#{props['inv.lbl.fechapublicacion']}: </td>
                         <td style="font-weight: bold; size: 12px; color: black; width: 40%;" align="left">#{convocatoriaController.seleccionada.fechapublicacion} </td>
                     
                     </tr>
                </table> 
                    <div style="width: 100%; height: 20px">
                    </div>
                    <center><h4>#{props['inv.lbl.convocatoria']}</h4></center>
                    <div style="width: 100%; height: 20px">
                    </div>
                         <object type="application/pdf" 
                                 data="./../resources/#{convocatoriaController.seleccionada.descripcionruta}?pfdrid_c=true" 
                                 height="600px" width="100%" internalinstanceid="3" 
                                 margin-top="20px" style="border: double">
                              </object>
                     
                
               </p:panel>
         </center>   
            
            
        </h:form>
       
    </ui:define>

</ui:composition>

