<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns:ui="http://java.sun.com/jsf/facelets"
                template="./../WEB-INF/TemplateSV.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui">
    
  
  <p:panel style="margin-bottom:5px; width: 99%;  margin-top: 5px;" > 
     <div style="height: 15px;"></div>  
     
       <p:growl id="msgs" showDetail="true" />
        <center>     
        <p:focus for="txtIdProyecto"/>
        <table>
           <tr style="margin-top: 8px;">
               <td style="color: blue; width: 23%; font-weight: bold; size: 25px;" align="right" >#{props['usu.lbl.idproyecto']} : </td>
               <td style="width: 23%;"><p:inputText id="txtIdProyecto"  value="#{usuarioController.proyectoController.selected.idproyecto}" 
                                                                 required="true" style="background-color: #FBDCDC;" maxlength="10" disabled="#{usuarioController.id}"/></td>
               <td style="width: 5%;"></td>                    
               <td style="color: blue; width: 23%; font-weight: bold; size: 25px;" align="right">#{props['inv.lbl.grupoInv']}: </td>
               <td style="width: 23%;"><p:inputText id="txtNombre"  value="#{usuarioController.usuarioValidado.idinvestigador.idgrupoinv.nombre}" 
                                   required="true" style="background-color: #FBDCDC; " disabled="true"/></td>
          </tr>
        </table>
        <table align="center">
           <tr style="margin-top: 8px;">
               <td style="color: blue; width: 23%; font-weight: bold; size: 25px;" align="right" >#{props['usu.lbl.fechapublic']} : </td>
               <td style="width: 23%; "><p:calendar id="txtIdFecha"  value="#{usuarioController.proyectoController.selected.fecha}" 
                                   required="true" style="background-color: #FBDCDC;" disabled="#{usuarioController.proyectoController.panel2}"/></td>
               <td style="width: 8%;"></td>                    
               <td style="font-weight: bold; width: 23%; size: 12px; color: blue; width: 23%;" align="right">#{props['usu.lbl.convocatoria']}: </td>
               <td style="width: 23%;"><p:selectOneMenu id="txtIdConvocatoria" value="#{usuarioController.proyectoController.convocatoria}"  
                                    required="true" style="width: 100%;" disabled="#{usuarioController.proyectoController.panel2}">
                              <f:selectItems value="#{convocatoriaController.itemsAvailableSelectOne}"/>
                           </p:selectOneMenu></td>
          </tr>
        </table>
        <table>
          <tr style="margin-top: 8px;">
               <td style="font-weight: bold; size: 25px; color: blue; width: 25%;" align="right">#{props['usu.lbl.tituloproyecto']}: </td>
               <td style="width: 75%;"><p:inputTextarea id="txtTitulo"  value="#{usuarioController.proyectoController.selected.titulo}" 
                                                        required="true" style="background-color: white; width: 100%;" maxlength="500" disabled="#{usuarioController.proyectoController.panel2}"/></td>
          </tr>
        </table>
        <table>
            <tr style="margin-top: 8px;"> 
              <td style="font-weight: bold; size: 25px; color: blue; width: 23%;" align="right">#{props['usu.lbl.lineadeinv']}: </td>
              <td style="width: 23%; "><p:inputText id="txtLineaInv"  value="#{usuarioController.proyectoController.selected.lineainves}" 
                                                     required="true" style="background-color: #FBDCDC;" maxlength="100"
                                                     disabled="#{usuarioController.proyectoController.panel2}"/></td> 
               <td style="width: 8%;"></td>   
               <td style="font-weight: bold; size: 25px; color: blue;width: 23%;" align="right">#{props['usu.lbl.totalinv']}: </td>
               <td style="width: 30px;"><p:spinner id="txtCantidadInv" value="#{usuarioController.proyectoController.selected.totalinves}" 
                                                   min="1" max="50" required="true" style="background-color: #FBDCDC;"
                                                   disabled="#{usuarioController.proyectoController.panel2}"/></td>                
            </tr>  
            
            <tr style="margin-top: 8px;"> 
              <td style="font-weight: bold; size: 25px; color: blue; width: 23%;" align="right">#{props['usu.lbl.entidad']}: </td>
              <td style="width: 23%; "><p:inputText id="txtEntidad"  value="#{usuarioController.proyectoController.selected.entidad}" 
                                                     required="true" style="background-color: #FBDCDC;" maxlength="100"
                                                     disabled="#{usuarioController.proyectoController.panel2}"/></td> 
               <td style="width: 8%;"></td>   
               <td style="font-weight: bold; size: 25px; color: blue;width: 23%;" align="right">#{props['usu.lbl.lugarejecucion']}: </td>
               <td style="width: 23%;"><p:inputText id="txtLugarEjec" value="#{usuarioController.proyectoController.selected.lugarejecucion}" 
                                                  required="true" style="background-color: #FBDCDC;" maxlength="100"
                                                  disabled="#{usuarioController.proyectoController.panel2}"/></td>                
            </tr>  
                 
            
            <tr style="margin-top: 8px;"> 
              <td style="font-weight: bold; size: 25px; color: blue; width: 23%;" align="right">#{props['usu.lbl.ciudad']}: </td>
              <td style="width: 23%; "><p:inputText id="txtCiudad"  value="#{usuarioController.proyectoController.selected.ciudad}" 
                                                     required="true" style="background-color: #FBDCDC;" maxlength="100"
                                                     disabled="#{usuarioController.proyectoController.panel2}"/></td> 
               <td style="width: 8%;"></td>   
               <td style="font-weight: bold; size: 25px; color: blue;width: 23%;" align="right">#{props['usu.lbl.tiempomeses']}: </td>
               <td style="width: 30px;"><p:spinner id="txtDuracionMeses" value="#{usuarioController.proyectoController.selected.duracionmeses}" 
                                                   min="1" max="60" required="true" style="background-color: #FBDCDC;"
                                                   disabled="#{usuarioController.proyectoController.panel2}"/></td>                
            </tr>
            
            <tr style="margin-top: 8px;"> 
               <td style="font-weight: bold; size: 25px; color: blue; width: 23%;" align="right">#{props['usu.lbl.tipoproyecto']}: </td>
               <td style="width: 23%; "><p:inputText id="txtTipo"  value="#{usuarioController.proyectoController.selected.tipoproyecto}" 
                                                     required="true" style="background-color: #FBDCDC;" maxlength="100"
                                                     disabled="#{usuarioController.proyectoController.panel2}"/></td> 
               <td style="width: 8%;"></td>   
               <td style="font-weight: bold; size: 25px; color: blue; width: 23%;" align="right">#{props['usu.lbl.modalidad']}: </td>
               <td style="width: 23%; "><p:inputText id="txtModalidad"  value="#{usuarioController.proyectoController.selected.modalidad}" 
                                                     required="true" style="background-color: #FBDCDC;" maxlength="100"
                                                     disabled="#{usuarioController.proyectoController.panel2}"/></td>               
            </tr>
         </table>
        <div style="height: 15px; "></div> 
        <table style="margin-top: 8px;">
             <p:commandButton value="#{props['admin.btn.crear']}" action="#{usuarioController.guardarProyecto()}" disabled="#{usuarioController.proyectoController.botonGurdar}" update="@form"/> 
             <p:commandButton value="#{props['admin.btn.actualizar']}" action="#{usuarioController.actualizarProyecto()}" disabled="#{usuarioController.proyectoController.paneles}" update="@form"/>
             <p:commandButton value="#{props['admin.btn.guardarCambios']}" action="#{usuarioController.editarProyecto()}" disabled="#{usuarioController.proyectoController.editar}" update="@form"/>
       
        </table>
        <table>
          <tr>
             <td colspan="3" style="text-align: center; color: red; font-weight: bold;">
                 <p:outputLabel value="#{usuarioController.proyectoController.mensaje}"/>
             </td>
          </tr>
        </table>
      </center>
        
   
             
             
             
         
         </p:panel>    
 
</html>

