<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
                template="./../WEB-INF/TemplateSV.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui">

    
    <ui:define name="menuLeft">
       
          <h:form id="menu">
                           <p:menu >
                            <p:submenu label="#{props['investigador']}" >
                                <p:menuitem value="#{props['admin.cinicio']}" url="./../investigador.sv" />
                                <p:menuitem value="#{props['inv.lbl.menu1']}" url="./editarInvestigador.sv"  />
                                <p:menuitem value="#{props['inv.lbl.menu2']}" url="./verInformacionInvestigador.sv"/>
                                <p:menuitem value="#{props['inv.lbl.menu3']}" url="./mostrarConvocatoria.sv"/>
                                <p:menuitem value="#{props['usu.lbl.menu4']}" url="./crearProyecto.sv"/>
                                <p:menuitem value="#{props['admin.salir']}" url="/logout.jsp" />
                            </p:submenu>
                         </p:menu>
               </h:form>
    
    </ui:define>

    <ui:define name="content">
       
        <h:form id="formInves">
          <center>
                <p:panel id="investigador" header="#{props['inv.lbl.verinfor']}"  style="margin-bottom:20px; width: 55%; margin-left: 7%; margin-top: 30px;">

                <table>
                    <td style="font-weight: bold; size: 12px; color: blue;" align="right">#{props['inv.lbl.selinv']} : </td>
                    <td><p:selectOneMenu id="txtIdInvestigador" value="#{investigadorController.seleccionada}"  required="true" >
                            <p:ajax listener="#{investigadorController.index()}" update="formInves"/>
                            <f:selectItems value="#{investigadorController.itemsAvailableSelectOne}"/>
                       </p:selectOneMenu></td>
                </table>
                </p:panel>
         </center>
            
         
         <center>
                <p:panel id="verConvocatoria" header="#{props['inv.lbl.detinv']}"  style="margin-bottom:20px; width: 85%; margin-left: 7%; margin-top: 30px;">

                    <table style="margen-top:15px;" >
                     <tr>
                         <td style="font-weight: bold; size: 12px; color: blue; width: 25%;" align="right">#{props['inv.lbl.cedula']} : </td>
                         <td style="font-weight: bold; size: 12px; color: black; width: 25%;" align="left">#{investigadorController.seleccionada.idinvestigador} </td>
                     
                     </tr>
                     
                     <tr>
                         <td style="font-weight: bold; size: 12px; color: blue; width: 25%;" align="right">#{props['inv.lbl.nombre']} : </td>
                         <td style="font-weight: bold; size: 12px; color: black; width: 25%;" align="left">#{investigadorController.seleccionada.nombre} </td>
                     
                         <td style="font-weight: bold; size: 12px; color: blue; width: 25%;" align="right">#{props['inv.lbl.apellidos']} : </td>
                         <td style="font-weight: bold; size: 12px; color: black; width: 25%;" align="left">#{investigadorController.seleccionada.apellidos} </td>
                     
                     </tr>
                        
                     <tr>
                         <td style="font-weight: bold; size: 12px; color: blue; width: 25%;" align="right">#{props['inv.lbl.edad']} : </td>
                         <td style="font-weight: bold; size: 12px; color: black; width: 25%;" align="left">#{investigadorController.seleccionada.edad} </td>
                     
                         <td style="font-weight: bold; size: 12px; color: blue; width: 25%;" align="right">#{props['inv.lbl.programa']} : </td>
                         <td style="font-weight: bold; size: 12px; color: black; width: 25%;" align="left">#{investigadorController.seleccionada.idprograma.nombre} </td>
                     
                     </tr> 
                        
                     <tr>
                         <td style="font-weight: bold; size: 12px; color: blue; width: 25%;" align="right">#{props['inv.lbl.telefonof']} : </td>
                         <td style="font-weight: bold; size: 12px; color: black; width: 25%;" align="left">#{investigadorController.seleccionada.telefonofijo} </td>
                     
                         <td style="font-weight: bold; size: 12px; color: blue; width: 25%;" align="right">#{props['inv.lbl.telefonoc']} : </td>
                         <td style="font-weight: bold; size: 12px; color: black; width: 25%;" align="left">#{investigadorController.seleccionada.telefonocelular} </td>
                     
                     </tr>
                        
                     <tr>
                         <td style="font-weight: bold; size: 12px; color: blue; width: 25%;" align="right">#{props['inv.lbl.correo']} : </td>
                         <td style="font-weight: bold; size: 12px; color: black; width: 25%;" align="left">#{investigadorController.seleccionada.correo} </td>
                     
                         <td style="font-weight: bold; size: 12px; color: blue; width: 25%;" align="right">#{props['inv.lbl.direccion']} : </td>
                         <td style="font-weight: bold; size: 12px; color: black; width: 25%;" align="left">#{investigadorController.seleccionada.direccion} </td>
                     
                     </tr>    
                      
                     <tr>
                         <td style="font-weight: bold; size: 12px; color: blue; width: 25%;" align="right">#{props['inv.lbl.rol']} : </td>
                         <td style="font-weight: bold; size: 12px; color: black; width: 25%;" align="left">#{investigadorController.seleccionada.rol} </td>
                     
                         <td style="font-weight: bold; size: 12px; color: blue; width: 25%;" align="right">#{props['inv.lbl.tipoVin']} : </td>
                         <td style="font-weight: bold; size: 12px; color: black; width: 25%;" align="left">#{investigadorController.seleccionada.tipovinculacion} </td>
                     
                     </tr>
                        
                       <tr>
                         <td style="font-weight: bold; size: 12px; color: blue; width: 25%;" align="right">#{props['inv.lbl.grupoInv']} : </td>
                         <td style="font-weight: bold; size: 12px; color: black; width: 25%;" align="left">#{investigadorController.seleccionada.idgrupoinv.nombre} </td>
                     
                      </tr>    
                </table> 
                   
                 
                    <p:dataTable id="tablaTitulos" value="#{investigadorController.seleccionada.tituloCollection}" var="obj" paginator="true"
                                     rowsPerPageTemplate="5, 10, 15, 20, 30, 40, 50"
                                     rowKey="#{obj.idtitulo}"
                                     lazy="true"
                                     selection="#{obj}"
                                     selectionMode="single"
                                     paginatorTemplate="{FirstPageLink} {PreviousPageLink} {CurrentPageReport} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}">

                         <p:column headerText="#{props['inv.lbl.registro']}" style="text-align: center">
                             <h:outputText value="#{obj.idtitulo}"></h:outputText>
                         </p:column>

                        <p:column headerText="#{props['inv.lbl.nombre']}" style="text-align: center">
                            <h:outputText value="#{obj.nombre}"/>
                        </p:column>
                         
                        <p:column headerText="#{props['inv.lbl.numacta']}" style="text-align: center">
                            <h:outputText value="#{obj.numeroacta}"></h:outputText>
                        </p:column> 
                        
                        <p:column headerText="#{props['inv.lbl.espregrado']}" style="text-align: center">
                            <h:outputText value="#{obj.pregrado}"></h:outputText>
                        </p:column> 
                        
                        <p:column headerText="#{props['inv.lbl.espostgrado']}" style="text-align: center">
                            <h:outputText value="#{obj.postgrado}"></h:outputText>
                        </p:column> 
                        
                        <p:column headerText="#{props['inv.lbl.tipotitulo']}" style="text-align: center">
                            <h:outputText value="#{obj.tipopostgrado}"></h:outputText>
                        </p:column> 
                        
                        <p:column headerText="#{props['inv.lbl.fecha']}" style="text-align: center">
                            <h:outputText value="#{obj.fecha}"></h:outputText>
                        </p:column> 
                    </p:dataTable>
                    
                    
                    
                    
                    
                    <div style="width: 100%; height: 20px">
                    </div>
                    <center><h4>#{props['inv.lbl.hojavida']}.</h4></center>
                    <div style="width: 100%; height: 20px">
                    </div>
                         <object type="application/pdf" 
                                 data="./../resources/#{investigadorController.seleccionada.curriculumruta}?pfdrid_c=true" 
                                 height="600px" width="100%" internalinstanceid="3" 
                                 margin-top="20px" style="border: double">
                              </object>
                     
                
               </p:panel>
         </center>   
            
            
        </h:form>
       
    </ui:define>

</ui:composition>

