<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
                template="./WEB-INF/TemplateSV.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui">

    
    <ui:define name="menuLeft">
       
           <h:form id="menu">
                           <p:menu >
                            <p:submenu label="Bioetica" >
                                <p:menuitem value="Inicio" url="bioetica.sv" />
                                <p:menuitem value="#{props['admin.salir']}" url="./logout.jsp" />
                                
                            </p:submenu>
                         </p:menu>
               </h:form>
    
    </ui:define>

    <ui:define name="content">
        <div align="center">
            <h1>#{props['admin.bienvenido']} "#{usuarioController.getUsuarioValidado().idusuario}"</h1>
            <p>#{props['admin.parrafo']}</p>
            <p>#{props['admin.parrafobio']}</p>
        </div>
 
    </ui:define>

</ui:composition>

