<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
    <h:head>
        <title>Facelet Title</title>
        <h:outputStylesheet name="css/jsfcrud.css"/>
    </h:head>
    <h:body>
        Hello from Facelets
        <br />
        <h:link outcome="welcomePrimefaces" value="Primefaces welcome page" />
        <br />
        <h:link outcome="/vistas/actainicio/List" value="Show All Actainicio Items"/>
        <br />
        <h:link outcome="/vistas/actas/List" value="Show All Actas Items"/>
        <br />
        <h:link outcome="/vistas/actividad/List" value="Show All Actividad Items"/>
        <br />
        <h:link outcome="/vistas/activimetas/List" value="Show All Activimetas Items"/>
        <br />
        <h:link outcome="/vistas/anexo/List" value="Show All Anexo Items"/>
        <br />
        <h:link outcome="/vistas/compras/List" value="Show All Compras Items"/>
        <br />
        <h:link outcome="/vistas/convocatoria/List" value="Show All Convocatoria Items"/>
        <br />
        <h:link outcome="/vistas/correccion/List" value="Show All Correccion Items"/>
        <br />
        <h:link outcome="/vistas/cronograma/List" value="Show All Cronograma Items"/>
        <br />
        <h:link outcome="/vistas/estudiantes/List" value="Show All Estudiantes Items"/>
        <br />
        <h:link outcome="/vistas/evaluador/List" value="Show All Evaluador Items"/>
        <br />
        <h:link outcome="/vistas/evarexter/List" value="Show All Evarexter Items"/>
        <br />
        <h:link outcome="/vistas/evproyectos/List" value="Show All Evproyectos Items"/>
        <br />
        <h:link outcome="/vistas/facultad/List" value="Show All Facultad Items"/>
        <br />
        <h:link outcome="/vistas/gastospersonal/List" value="Show All Gastospersonal Items"/>
        <br />
        <h:link outcome="/vistas/grupoinvestigacion/List" value="Show All Grupoinvestigacion Items"/>
        <br />
        <h:link outcome="/vistas/infoauxi/List" value="Show All Infoauxi Items"/>
        <br />
        <h:link outcome="/vistas/infofinan/List" value="Show All Infofinan Items"/>
        <br />
        <h:link outcome="/vistas/inforavan/List" value="Show All Inforavan Items"/>
        <br />
        <h:link outcome="/vistas/institucion/List" value="Show All Institucion Items"/>
        <br />
        <h:link outcome="/vistas/investigador/List" value="Show All Investigador Items"/>
        <br />
        <h:link outcome="/vistas/objetivo/List" value="Show All Objetivo Items"/>
        <br />
        <h:link outcome="/vistas/oficio/List" value="Show All Oficio Items"/>
        <br />
        <h:link outcome="/vistas/orgfinancieros/List" value="Show All Orgfinancieros Items"/>
        <br />
        <h:link outcome="/vistas/palaclave/List" value="Show All Palaclave Items"/>
        <br />
        <h:link outcome="/vistas/pregunta/List" value="Show All Pregunta Items"/>
        <br />
        <h:link outcome="/vistas/presupuesto/List" value="Show All Presupuesto Items"/>
        <br />
        <h:link outcome="/vistas/programa/List" value="Show All Programa Items"/>
        <br />
        <h:link outcome="/vistas/proyecto/List" value="Show All Proyecto Items"/>
        <br />
        <h:link outcome="/vistas/resulparcial/List" value="Show All Resulparcial Items"/>
        <br />
        <h:link outcome="/vistas/titulo/List" value="Show All Titulo Items"/>
        <br />
        <h:link outcome="/vistas/usuario/List" value="Show All Usuario Items"/>
        <br />
        <h:link outcome="/vistas/valoracion/List" value="Show All Valoracion Items"/>
        <br />
        <h:link outcome="/vistas/viajesalida/List" value="Show All Viajesalida Items"/>
    </h:body>


































</html>

