<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
                template="./WEB-INF/TemplateSV.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui">

    
    <ui:define name="menuLeft">
       
           <h:form id="menu">
                           <p:menu >
                            <p:submenu label="#{props['investigador']}" >
                                <p:menuitem value="#{props['admin.cinicio']}" url="./investigador.sv" />
                                <p:menuitem value="#{props['inv.lbl.menu1']}" url="./investigador/editarInvestigador.sv"  />
                                <p:menuitem value="#{props['inv.lbl.menu2']}" url="./investigador/verInformacionInvestigador.sv"/>
                                <p:menuitem value="#{props['inv.lbl.menu3']}" url="./investigador/mostrarConvocatoria.sv"/>
                                <p:menuitem value="#{props['usu.lbl.menu4']}" url="./investigador/crearProyecto.sv"/>
                                
                                <p:menuitem value="#{props['admin.salir']}" url="/logout.jsp" />
                            </p:submenu>
                         </p:menu>
               </h:form>
    
    </ui:define>

    <ui:define name="content">
        <div align="center">
            <h1>#{props['admin.bienvenido']} "#{usuarioController.getUsuarioValidado().idinvestigador.nombre}"</h1>
              INVESTIGADOR
            <p>#{props['admin.parrafo']}</p>
            <p>#{props['inv.parrafo']}</p>
           
        </div>
 
    </ui:define>

</ui:composition>

